.left_menu_container{
    /*-fx-background-color: linear-gradient(to bottom , #296978, #1198b6);*/
    -fx-background-color: yellow;
    -fx-background-radius: 10px 10px 0 0;
    -fx-spacing: 20;
    -fx-padding: 30;

}
.left_menu_container Button{
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-background-color: #EEEEEE;
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    /*-fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);*/
}
.left_menu_logout_container{
    -fx-background-color: #212121;
    -fx-background-radius: 0 0 10px 10px;
    -fx-spacing: 20;
    -fx-padding: 30;
}
.left_menu_logout_container Button{
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-background-color: #c7382d;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
    /* -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 6);*/
}
.active_tab_button{
    -fx-background-color: #1198b6;
}

.edit_tasks_container{
    -fx-background-color: #212121;
    -fx-background-radius: 0 0 10px 10px;
    -fx-spacing: 20;
    -fx-padding: 30;
    -fx-alignment: center;
}
.edit_tasks_complete_button{
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-background-color: #7ec700;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}
.edit_tasks_edit_button{
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-background-color: #f9ca3d;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}
.edit_tasks_delete_button{
    -fx-pref-width: 120;
    -fx-pref-height: 40;
    -fx-background-color: #c7382d;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 1.1em;
    -fx-alignment: center;
}

.main_background{
    -fx-background-color: yellow;
}
.main{
    /*-fx-background-color: linear-gradient(to bottom , #296978, #1198b6);*/
    -fx-background-color: #101010;

}

.current_task_container{
    -fx-background-color: #212121;
    -fx-background-radius: 10px;
    -fx-spacing: 10;
    -fx-alignment: center;
}
.current_task_container Label{
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 1.6em;
}
.current_task_container ListView{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 5px 5px 0 0;
}

.header_container{
    -fx-background-color: #212121;
    -fx-spacing: 350;
    -fx-background-radius: 10px;
}
.header_container_welcome{
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 1.6em;
    -fx-pref-width: 230;
}
.header_container_date{
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 1.6em;
    -fx-pref-width: 140;
    -fx-alignment: center;
}

.today_task_container{
    -fx-background-color: #212121;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}
.today_task_container Label{
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 1.6em;
}
.today_task_container ListView{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 5px;
}

.add_task_container{
    -fx-background-color: #212121;
    -fx-background-radius: 10px;
    -fx-alignment: center;
    -fx-spacing: 10;
}
.add_task_container_lbl{
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 1.6em;
}
.add_task_container Button{
    -fx-background-color: #1198b6;
    -fx-text-fill: #FFFFFF;
}
.error_lbl{
    -fx-text-fill: #FFFFFF;
    -fx-alignment: center;
    -fx-pref-width: 140;
    -fx-font-size: 1em;
}

.task_description{
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 0 0 5px 5px;
}
.task_description_header_lbl{
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}
.task_description_user_writeup{
    -fx-text-fill: #000000;
    -fx-font-size: 1.1em;
    -fx-wrap-text: true;
    -fx-alignment: top-left;
}
.task_description_user_task_name{
    -fx-text-fill: #000000;
    -fx-font-size: 1em;
    /*-fx-alignment: LEFT;*/
}

.logo{
    -fx-fill: black;
}